<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
        <div class="w3-top">
                <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                 <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
                 <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Nurses R Us</a>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
                 <div class="w3-dropdown-hover w3-hide-small">
                   <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
                   <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                     <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                     <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
                     <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
                   </div>
                 </div>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                   <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
                 </a>
                </div>
               </div>
               
<div class="w3-row">
    <!--First column-->
    <div class="w3-col m3">
        <div class="Limit">
            <div class="w3-card w3-round w3-white">
            <div class="w3-container"></div>  
            <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
	            <div class="w3-container w3-row">
	                <div class="w3-col s4">
		                <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
	                </div>
	                <div class="w3-col s8 w3-bar">
		                <span>Welcome, <strong>Mike</strong></span><br>
		                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
	                </div>
	            </div>
	            <hr>
	            <div class="w3-container">
	                <h5>Dashboard</h5>
	            </div>
	            <div class="w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  User</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Hospital</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Employee</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Request</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Ratings</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Rates</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Orientation</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Complaints</a>  
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Reports</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings and Config</a><br><br>
	            </div>
            </nav>
        </div>
        </div>
        </div>
    </div>
<!--Middle column-->
    <div class="w3-col m7">
            <div class="w3-card w3-round w3-white">
                    <div class="w3-container">

                    </div>
                    </div>
    </div>

    <!--Last column-->
    <div class="w3-col m2">
            <div class="w3-card w3-round w3-white">
                    <div class="w3-container">

                    </div>
                    </div>
    </div>

</div>

</body>

