<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
        <div class="w3-top">
                <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                 <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
                 <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Nurses R Us</a>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
                 <div class="w3-dropdown-hover w3-hide-small">
                   <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
                   <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                     <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                     <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
                     <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
                     <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
                   </div>
                 </div>
                 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                   <img src='../src/assets/NURSES.PNG' class="w3-circle" style="height:23px;width:23px" alt="Avatar">
                 </a>
                </div>
               </div>
               <div class="w3-row">
                   <!--First column-->
                   <div class="w3-col m3" style="margin-top: 54px">
                        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
                            <div class="w3-container w3-row">
                              <div class="w3-col s4">
                                <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
                              </div>
                              <div class="w3-col s8 w3-bar">
                                <span>Welcome, <strong>Mike</strong></span><br>
                                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
                              </div>
                            </div>
                            <hr>
                            <div class="w3-container">
                              <h5>Dashboard</h5>
                            </div>
                            <div class="w3-bar-block">
                              <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
                              <a href="#" class="w3-bar-item w3-button w3-padding w3-blue" class="dropdown-btn"><i class="fa fa-users fa-fw" ></i>  User</a>
                              <div class="dropdown-container" class="w3-bar-item w3-button w3-padding w3-blue">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 2</a><br>
                                    <a href="#">Link 3</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-eye fa-fw"  ></i>  Hospital</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-users fa-fw" ></i>  Nurses</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding"class="dropdown-btn"><i class="fa fa-bullseye fa-fw" ></i>  Employees</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-diamond fa-fw" ></i>  Requests</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-bell fa-fw" ></i>  Ratings</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-bank fa-fw" ></i>  Rates</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-history fa-fw"></i>  Orientation</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                    <a href="#">Link 1</a><br>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-history fa-fw" ></i>  Compliants</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-history fa-fw" ></i>  Reports</a>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                              <a href="#" class="w3-bar-item w3-button w3-padding" class="dropdown-btn"><i class="fa fa-cog fa-fw" ></i>  Settings & Config</a><br><br>
                              <div class="dropdown-container">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                  </div>
                            </div>
                          </nav>
                   </div>
                  <!--Middle column-->
                  <div class="w3-col m5" style="margin:70px">
                    <h3>
                            <span>Please fill in the fields below:</span>
                    </h3>
                  
                  <div class="w3-row">
                        <div class="w3-card w3-round w3-white"style="w3-padding">
                                <label>
                                <span>Name:</span>
                                <input type="text" required />
                                </label><br><br>
                                <label>
                                <span>Description :</span>
                                <input type="text" required/>
                                </label><br><br>
                                <label>
                                      

                        </div>
                  </div><br><br>

                  <div class="w3-row">
                    <div class="w3-card w3-round w3-white">
                            <div class="row text-center">
                                    <div class="col-md-4">
                                      <div class="btn-group">
                                        <div
                                          class="btn btn-primary"
                                          mwlCalendarPreviousView
                                          [view]="view"
                                          [(viewDate)]="viewDate"
                                          (viewDateChange)="closeOpenMonthViewDay()"
                                        >
                                          Previous
                                        </div>
                                        <div
                                          class="btn btn-outline-secondary"
                                          mwlCalendarToday
                                          [(viewDate)]="viewDate"
                                        >
                                          Today
                                        </div>
                                        <div
                                          class="btn btn-primary"
                                          mwlCalendarNextView
                                          [view]="view"
                                          [(viewDate)]="viewDate"
                                          (viewDateChange)="closeOpenMonthViewDay()"
                                        >
                                          Next
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="btn-group">
                                        <div
                                          class="btn btn-primary"
                                          (click)="setView(CalendarView.Month)"
                                          [class.active]="view === CalendarView.Month"
                                        >
                                          Month
                                        </div>
                                        <div
                                          class="btn btn-primary"
                                          (click)="setView(CalendarView.Week)"
                                          [class.active]="view === CalendarView.Week"
                                        >
                                          Week
                                        </div>
                                        <div
                                          class="btn btn-primary"
                                          (click)="setView(CalendarView.Day)"
                                          [class.active]="view === CalendarView.Day"
                                        >
                                          Day
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br />
                                  <div [ngSwitch]="view">
                                    <mwl-calendar-month-view
                                      *ngSwitchCase="CalendarView.Month"
                                      [viewDate]="viewDate"
                                      [events]="events"
                                      [refresh]="refresh"
                                      [activeDayIsOpen]="activeDayIsOpen"
                                      (dayClicked)="dayClicked($event.day)"
                                      (eventClicked)="handleEvent('Clicked', $event.event)"
                                      (eventTimesChanged)="eventTimesChanged($event)"
                                    >
                                    </mwl-calendar-month-view>
                                    <mwl-calendar-week-view
                                      *ngSwitchCase="CalendarView.Week"
                                      [viewDate]="viewDate"
                                      [events]="events"
                                      [refresh]="refresh"
                                      (eventClicked)="handleEvent('Clicked', $event.event)"
                                      (eventTimesChanged)="eventTimesChanged($event)"
                                    >
                                    </mwl-calendar-week-view>
                                    <mwl-calendar-day-view
                                      *ngSwitchCase="CalendarView.Day"
                                      [viewDate]="viewDate"
                                      [events]="events"
                                      [refresh]="refresh"
                                      (eventClicked)="handleEvent('Clicked', $event.event)"
                                      (eventTimesChanged)="eventTimesChanged($event)"
                                    >
                                    </mwl-calendar-day-view>
                                  </div>
                                  
                                  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
                                  
                                  <br /><br /><br />
                                  
                                  <h3>
                                    Edit events
                                    <button class="btn btn-primary pull-right" (click)="addEvent()">
                                      Add new
                                    </button>
                                    <div class="clearfix"></div>
                                  </h3>
                                  
                                  <div class="table-responsive">
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>Title</th>
                                          <th>Primary color</th>
                                          <th>Secondary color</th>
                                          <th>Starts at</th>
                                          <th>Ends at</th>
                                          <th>Remove</th>
                                        </tr>
                                      </thead>
                                  
                                      <tbody>
                                        <tr *ngFor="let event of events">
                                          <td>
                                            <input
                                              type="text"
                                              class="form-control"
                                              [(ngModel)]="event.title"
                                              (keyup)="refresh.next()"
                                            />
                                          </td>
                                          <td>
                                            <input
                                              type="color"
                                              [(ngModel)]="event.color.primary"
                                              (change)="refresh.next()"
                                            />
                                          </td>
                                          <td>
                                            <input
                                              type="color"
                                              [(ngModel)]="event.color.secondary"
                                              (change)="refresh.next()"
                                            />
                                          </td>
                                          <td>
                                            <input
                                              class="form-control"
                                              type="text"
                                              mwlFlatpickr
                                              [(ngModel)]="event.start"
                                              (ngModelChange)="refresh.next()"
                                              [altInput]="true"
                                              [convertModelValue]="true"
                                              [enableTime]="true"
                                              dateFormat="Y-m-dTH:i"
                                              altFormat="F j, Y H:i"
                                              placeholder="Not set"
                                            />
                                          </td>
                                          <td>
                                            <input
                                              class="form-control"
                                              type="text"
                                              mwlFlatpickr
                                              [(ngModel)]="event.end"
                                              (ngModelChange)="refresh.next()"
                                              [altInput]="true"
                                              [convertModelValue]="true"
                                              [enableTime]="true"
                                              dateFormat="Y-m-dTH:i"
                                              altFormat="F j, Y H:i"
                                              placeholder="Not set"
                                            />
                                          </td>
                                          <td>
                                            <button class="btn btn-danger" (click)="deleteEvent(event)">
                                              Delete
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  
                                  <ng-template #modalContent let-close="close">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Event action occurred</h5>
                                      <button type="button" class="close" (click)="close()">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div>
                                        Action:
                                        <pre>{{ modalData?.action }}</pre>
                                      </div>
                                      <div>
                                        Event:
                                        <pre>{{ modalData?.event | json }}</pre>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-outline-secondary" (click)="close()">
                                        OK
                                      </button>
                                    </div>
                                  </ng-template>
                                      
                        <button type="Submit"onclick="document.getElementById('id01').style.display='block'" >Submit</button> <button type="button">Cancel</button>
                    </div>
                  </div>

                  </div>
                     <!--Right column-->  
                  <div class="w3-col m2">

                  </div>
               </div>  
               <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                      <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright">&times;</span>
                        <h2>Confirmation</h2>
                      </header>
                      <div class="w3-container">
                        <p>Additon</p>
                        <p>You have successfully added a new employee type to the system!</p>
                      </div>
                      <footer class="w3-container w3-teal">
                        <p>Modal Footer</p>
                      </footer>
                    </div>
                  </div>
</body>