 <!--Middle column-->
            <div class="w3-col m5" style="margin:70px">
                <h3>
                    <span>Please fill in the fields below:</span>
                </h3>
            
                <div class="w3-row">
                    <div class="w3-card w3-round w3-white"style="w3-padding">
                        <label>
                            <span>Name(s):</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>Surname :</span>
                            <input type="text" required/>
                        </label><br><br>
                        <label>
                            <span>Contact number:</span>
                            <input type="number" required />
                            </label><br><br>
                        <label>
                            <span>Email:</span>
                            <input type="email" required />
                        </label><br><br>
                        <label>
                            <span>Date of Birth:</span>
                            <input type="date" required />
                        </label><br><br>
                        <label>
                            <span>Branch:</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>Employee Type:</span>
                            <input type="text" required />
                        </label><br><br>
                    </div>
                </div><br><br>

                <div class="w3-row">
                    <div class="w3-card w3-round w3-white">
                        <label>
                            <span>Building:</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>Street :</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>City:</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>Province:</span>
                            <input type="text" required />
                        </label><br><br>
                        <label>
                            <span>Postal code:</span>
                            <input type="text" required />
                        </label><br><br>
                        <button type="Submit">Submit</button> <button type="button">Cancel</button>
                    </div>
                </div>
            </div>
            <!--Right column-->  
            <div class="w3-col m2">
            </div>                  