                  <!--Middle column-->
                  <div class="w3-col m5" style="margin:70px">
                    <h3>
                            <span>Please fill in the fields below:</span>
                    </h3>
                  
                  <div class="w3-row">
                        <div class="w3-card w3-round w3-white"style="w3-padding">
                                <label>
                                <span>Name:</span>
                                <input type="text" required />
                                </label><br><br>
                                <label>
                                <span>Description :</span>
                                <input type="text" required/>
                                </label><br><br>
                                <label>
                                      

                        </div>
                  </div><br><br>

                  <div class="w3-row">
                    <div class="w3-card w3-round w3-white">
                            <button type="Submit"onclick="document.getElementById('id01').style.display='block'" >Submit</button> <button type="button">Cancel</button>
                    </div>
                  </div>

                  </div>
                     <!--Right column-->  
                  <div class="w3-col m2">

                  </div>
               </div>  
               <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                      <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright">&times;</span>
                        <h2>Confirmation</h2>
                      </header>
                      <div class="w3-container">
                        <p>Additon</p>
                        <p>You have successfully added a new employee type to the system!</p>
                      </div>
                      <footer class="w3-container w3-teal">
                        <p>Modal Footer</p>
                      </footer>
                    </div>
                  </div>
                 
</body>