                  <!--Middle column-->
                  <div class="w3-col m5" style="margin:70px">
                    <h3>
                            <span>Please fill in the fields below:</span>
                    </h3>
                  
                  <div class="w3-row">
                        <div class="w3-card w3-round w3-white"style="w3-padding">
                                <label>
                                <span>Name:</span>
                                <input type="search" required />
                                </label>
                                <label>
                                <span> </span>
                                <input type="text" required/>
                                </label><br><br>
                                <input type="search" name="Search" value="Search">
                        </div>
                  </div><br><br>

                  <div class="w3-row">
                    <div class="w3-card w3-round w3-white">
                        <table> 
                            <tr>
                                <th>Id</th> 
                                <th>Archive</th>
                            </tr>
                        @foreach()
                        {
                            <tr> 
                                <td>@row.Id</td> 
                                <td><input type="checkbox"></td> 
                            </tr> 
                        }
                        </table>
                            <button type="Submit"onclick="document.getElementById('id01').style.display='block'" >Submit</button> <button type="button">Cancel</button>
                    </div>
                  </div>

                  </div>
                     <!--Right column-->  
                  <div class="w3-col m2">

                  </div>
               </div>  
               <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                      <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright">&times;</span>
                        <h2>Confirmation</h2>
                      </header>
                      <div class="w3-container">
                        <p>Archive</p>
                        <p>The Archive request is successful</p>
                      </div>
                      <footer class="w3-container w3-teal">
                        <p>Ok</p>
                      </footer>
                    </div>
                  </div>
                 
</body>
