                  <!--Middle column-->
                  <div class="w3-col m5" style="margin:70px">
                    <h3>
                            <span>Please fill in the fields below:</span>
                    </h3>
                  <div class="w3-row">
                    <div class="w3-card w3-round w3-white"style="w3-padding">
                      <label>
                        <span>Name:</span>
                        <input type="text" required />
                      </label>
                      <label>
                        <span>Surname</span>
                        <input type="text" required/>
                      </label><br><br>
                      <label>
                          <span>Title</span>
                          <input type="text" required />
                      </label>
                      <label>
                          <span>Email</span>
                          <input type="email" required/>
                      </label><br><br>
                      <label>
                          <span>Cellphone</span>
                          <input type="number" required />
                      </label>
                      <label>
                          <span>Rank</span>
                          <input type="text" required/>
                      </label><br><br>
                    </div>
                  </div><br><br>
                  <div class="w3-row">
                      <div class="w3-col m3">
                          <div class="w3-row">
                                <div class="w3-card w3-round w3-white">
                                    <label>
                                        <span>Street</span>
                                        <input type="text" required/>
                                    </label><br><br>
                                    <label>
                                        <span>Suburb</span>
                                        <input type="text" required/>
                                    </label><br><br>
                                    <label>
                                        <span>City</span>
                                        <input type="text" required/>
                                    </label><br><br>
                                    <label>
                                        <span>Province</span>
                                        <input type="text" required/>
                                    </label><br><br>
                                    <label>
                                        <span>Postal code</span>
                                        <input type="number" required/>
                                    </label><br><br>
                                    <label>
                                        <span>Transport</span>
                                        <input type="text" required/>
                                    </label><br><br>
                                </div>
                          </div>
                          <div class="w3-row">
                            <div class="w3-card w3-round w3-white">
                              <label>
                                  <span>Bank name:</span>
                                  <input type="text" required/>
                              </label><br><br>
                              <label>
                                  <span>Account holder:</span>
                                  <input type="text" required/>
                              </label><br><br>
                              <label>
                                  <span>Branch:</span>
                                  <input type="text" required/>
                              </label><br><br>
                              <label>
                                  <span>Account number :</span>
                                  <input type="number" required/>
                              </label><br><br>
                              <label>
                                <span>Account type</span>
                                <input type="text" required/>
                            </label><br><br>
                            </div>
                          </div>
                      </div>
                      <div class="w3-col m3">
                          <div class="w3-row">
                                <label>
                                    <span>Name:</span>
                                    <input type="text" required/>
                                </label><br><br>
                                <label>
                                    <span>Surname:</span>
                                    <input type="text" required/>
                                </label><br><br>
                                <label>
                                    <span>Cellphone:</span>
                                    <input type="number" required/>
                                </label><br><br>
                                <label>
                                    <span>Email:</span>
                                    <input type="email" required/>
                                </label><br><br>
                          </div>
                          <div class="w3-row">
                            <label>
                              <span>Employer:</span>
                              <input type="text" required/>
                            </label><br><br>
                            <label>
                              <span>Position:</span>
                              <input type="text" required/>
                            </label><br><br>
                            <label>
                              <span>Nurse Skill:</span>
                              <input type="text" required/>
                            </label><br><br>
                            <label>
                              <span>Date-Start:</span>
                              <input type="date" required/>
                            </label><br><br>
                            <label>
                              <span>Date-End:</span>
                              <input type="date" required/>
                            </label><br><br>
                            <label>
                              <span>Qualification:</span>
                              <input type="text" required/>
                            </label><br><br>
                            <label>
                              <span>Tax number:</span>
                              <input type="Number" required/>
                            </label><br><br>
                            <label>
                              <span>CV:</span>
                              <input type="button" required/>
                              <span>None</span>
                            </label><br><br>
                            <label>
                              <span>ID:</span>
                              <input type="button" required/>
                              <span>None</span>
                            </label><br><br>
                          </div>
                      </div>
                    <input type="submit" name="Submit" value="Submit">
                  </div>
                  </div>
                     <!--Right column-->  
                  <div class="w3-col m2">
                  </div>
               </div>  
               <div id="id01" class="w3-modal">
                <div class="w3-modal-content w3-card-4">
                  <header class="w3-container w3-teal"> 
                    <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirmation</h2>
                  </header>
                  <div class="w3-container">
                    <p>The nurse's status is now active/accepted.
                        The nurse has been notified of their acceptance!</p>
                  </div>
                  <footer class="w3-container w3-teal">
                    <p>Ok</p>
                  </footer>
                </div>
              </div><br><br>
                  <div class="w3-row">
                    <div class="w3-card w3-round w3-white">
                        <table> 
                            <tr>
                                <th>Id</th> 
                                <th>Archive</th>
                            </tr>
                            <tr> 
                                <td>row.Id</td> 
                                <td><input type="checkbox"></td> 
                            </tr> 
                        </table>
                            <button type="Submit"onclick="document.getElementById('id01').style.display='block'" >Submit</button> <button type="button">Cancel</button>
                    </div>
                  </div>
                     <!--Right column-->  
                  <div class="w3-col m2">
                  </div>
                 